* {
	box-sizing: border-box;
	margin: 0;
  padding: 0;
  
}

body {
	background: #000;
    background-color: #262525;
}
.logo img
{
width: 230px;
}
.headr{
    width:100%;
    height: 85px;
    background-color: #353535;
}
#container{
margin: 0 auto;
min-width: 310px;
height: 400px;
width: 80%;
}
.data{
    display: flexbox;
    padding-top: 50px;
    padding-bottom: 50px;
}

h1{
  font-size: 30px;
  font-family: 'Monda', sans-serif;
  font-weight: lighter;
  color: white;
  text-align: center;
 }
 h2{
    font-size: 15px;
    font-family: 'Monda', sans-serif;
    font-weight: lighter;
    color: white;
    text-align: center;
 }
 .bbutton{
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
 }
 .bbutton button{
     height: 50px;
     width: 250px;
     margin: 0 auto;
border: none;
font-family: 'Monda', sans-serif;
font-weight: lighter;
color: white;
background-color: #F2552F;
 }